Repository Whyknot-live/whyknot.live, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, dependencies, documentation, ci/cd, security, tests, styles, scripts

.github/labeler.yml:

# Labeler configuration
# Automatically label PRs based on changed files

"backend":
  - changed-files:
      - any-glob-to-any-file: backend/**/*

"frontend":
  - changed-files:
      - any-glob-to-any-file: frontend/**/*

"dependencies":
  - changed-files:
      - any-glob-to-any-file: "**/package.json"
      - any-glob-to-any-file: "**/package-lock.json"

"documentation":
  - changed-files:
      - any-glob-to-any-file: "**/*.md"
      - any-glob-to-any-file: docs/**/*

"ci/cd":
  - changed-files:
      - any-glob-to-any-file: .github/**/*
      - any-glob-to-any-file: .circleci/**/*

"security":
  - changed-files:
      - any-glob-to-any-file: SECURITY.md
      - any-glob-to-any-file: backend/src/middleware/security.ts

"tests":
  - changed-files:
      - any-glob-to-any-file: "**/*.test.ts"
      - any-glob-to-any-file: "**/tests/**/*"

"styles":
  - changed-files:
      - any-glob-to-any-file: "**/*.css"
      - any-glob-to-any-file: frontend/src/styles/**/*

"scripts":
  - changed-files:
      - any-glob-to-any-file: scripts/**/*

chore: remove Dependabot configuration (.github/dependabot.yml)
  .github/dependabot.yml
Labels: ci/cd

ci(circleci): convert command fields to multiline blocks and fix audit/smoke-test commands
  .circleci/config.yml
Labels: ci/cd

Update .circleci/config.yml
  .circleci/config.yml
Labels: ci/cd

fix(head/pages): use non-blocking font load and relocate redirects after schema
  frontend/src/components/Head.astro
  frontend/src/pages/about.astro
  frontend/src/pages/blog.astro
  frontend/src/pages/design-system.astro
  frontend/src/pages/privacy-policy.astro
  frontend/src/pages/terms-of-service.astro
Labels: frontend

chore(astro): change output from 'server' to 'static' in astro.config.mjs
  frontend/astro.config.mjs
Labels: frontend

chore(runtime): migrate backend to Bun and simplify frontend static build
  backend/package.json
  backend/src/index.ts
  backend/tsconfig.json
  frontend/astro.config.mjs
  frontend/package.json
  frontend/src/pages/api/health.ts
  scripts/strip-emojis.ts
Labels: backend, frontend, dependencies, scripts

fix(frontend): convert blog pages to client-side data fetching
  backend/.env.example
  backend/bun.lock
  backend/package.json
  backend/src/routes/waitlist.ts
  backend/src/templates/email-preview.html
  backend/src/templates/waitlist-welcome.ts
  backend/src/utils/email.ts
  backend/src/utils/mongo.ts
  backend/src/utils/redis.ts
  frontend/src/pages/blog/[...slug].astro
  frontend/src/pages/blog/[slug].astro
Labels: backend, frontend, dependencies

feat(frontend,backend): client-side blog post page; improve waitlist/newsletter UX and persist extra waitlist fields
  backend/src/routes/waitlist.ts
  frontend/.env.example
  frontend/src/components/Waitlist.astro
  frontend/src/pages/blog.astro
  frontend/src/pages/blog/[slug].astro
  frontend/src/styles/components/forms.css
Labels: backend, frontend, styles

chore(backend): add startup retry/backoff, harden Mongo options, and align Bun build/start scripts
  backend/package.json
  backend/src/index.ts
  backend/src/utils/mongo.ts
Labels: backend, dependencies

fix/build
  backend/package.json
Labels: backend, dependencies

chore(backend): bump Bun engine requirement to >=1.3.1
  backend/package.json
Labels: backend, dependencies

fix: MongoDB Bun compatibility - downgrade to v5.9.2 and update TLS config
  backend/bun.lock
  backend/package.json
  backend/src/utils/mongo.ts
Labels: backend, dependencies

chore(backend): bump mongodb dependency to ^6.20.0
  backend/package.json
Labels: backend, dependencies

fix(backend): harden MongoDB client + improve startup retry/backoff
  backend/src/index.ts
  backend/src/utils/mongo.ts
Labels: backend

chore: backend health ping, deps & config; switch audits to bun; frontend perf + fixes
  backend/bun.lock
  backend/eslint.config.mjs
  backend/package.json
  backend/src/utils/health-ping.ts
  backend/tsconfig.json
  frontend/src/components/Head.astro
  frontend/src/components/Waitlist.astro
  frontend/src/pages/blog/[...slug].astro
  frontend/tsconfig.json
  scripts/pre-push.ts
Labels: backend, frontend, dependencies, scripts

feat(admin): add Admin Dashboard (Astro frontend + Hono backend)
  README.md
  admin/.env.example
  admin/.gitignore
  admin/README.md
  admin/astro.config.mjs
  admin/bun.lock
  admin/package.json
  admin/src/env.d.ts
  admin/src/layouts/AdminLayout.astro
  admin/src/pages/dashboard.astro
  admin/src/pages/index.astro
  admin/src/styles/admin.css
  admin/src/styles/tokens.css
  admin/tsconfig.json
  backend/.env.example
  backend/src/index.ts
  backend/src/routes/admin.ts
  backend/src/utils/env.ts
  frontend/.env.example
  frontend/src/components/Head.astro
Labels: backend, frontend, dependencies, documentation, styles

fix(frontend): use SVG favicon and make performance monitoring opt-in
  frontend/src/components/Head.astro
  frontend/src/layouts/Layout.astro
Labels: frontend

feat: Enhance waitlist form error handling and API URL resolution
  README.md
  admin/README.md
  admin/bun.lock
  admin/package.json
  admin/src/layouts/AdminLayout.astro
  admin/src/pages/dashboard.astro
  admin/src/pages/index.astro
  admin/src/styles/admin.css
  backend/.env.example
  backend/README.md
  backend/bun.lock
  backend/package.json
  backend/src/index.ts
  backend/src/middleware/security.ts
  backend/src/routes/admin.ts
  backend/src/routes/waitlist.ts
  backend/src/utils/env.ts
  backend/src/utils/mongo.ts
  backend/src/utils/request.ts
  docs/FAQ.md
  docs/ROADMAP.md
  docs/SECURITY_REVIEW_ITERATIONS.md
  frontend/package.json
  frontend/src/components/ComingSoon.astro
  frontend/src/components/Waitlist.astro
  frontend/src/pages/blog/[...slug].astro
  frontend/src/pages/blog/[slug].astro
  frontend/src/pages/index.astro
Labels: backend, frontend, dependencies, documentation, security, styles

fix: Ensure allowSyntheticDefaultImports is set in tsconfig for better compatibility
  frontend/tsconfig.json
Labels: frontend

style: Format environment variable schema for improved readability
  backend/src/utils/env.ts
Labels: backend

feat: Implement structured logging across the application
  backend/.env.example
  backend/src/index.ts
  backend/src/middleware/security.ts
  backend/src/routes/admin.ts
  backend/src/routes/waitlist.ts
  backend/src/utils/email.ts
  backend/src/utils/env.ts
  backend/src/utils/health-ping.ts
  backend/src/utils/logger.ts
  backend/src/utils/mongo.ts
  backend/src/utils/redis.ts
Labels: backend, security

feat: Implement bcrypt password hashing for admin authentication and update related documentation
  README.md
  admin/README.md
  admin/bun.lock
  backend/.env.example
  backend/README.md
  backend/bun.lock
  backend/package.json
  backend/src/routes/admin.ts
  backend/src/scripts/hash-password.ts
  backend/src/utils/env.ts
Labels: backend, dependencies, documentation

feat: Add new logo images and update favicon references in the application
  admin/src/assets/images/logo-y-knot-1228.jpeg
  admin/src/assets/images/logo-y-knot-2456.jpg
  admin/src/assets/images/logo-y-knot-transparent.png
  admin/src/assets/images/logo-y-knot.png
  admin/src/env.d.ts
  admin/src/layouts/AdminLayout.astro
  frontend/src/assets/images/logo-y-knot-1228.jpeg
  frontend/src/assets/images/logo-y-knot-2456.jpg
  frontend/src/assets/images/logo-y-knot-transparent.png
  frontend/src/assets/images/logo-y-knot.png
  frontend/src/components/Head.astro
Labels: frontend

refactor: Clean up logo and navigation components for improved readability and maintainability
  frontend/src/components/Head.astro
  frontend/src/components/Logo.astro
  frontend/src/components/Navigation.astro
Labels: frontend

Refactor code structure for improved readability and maintainability
  admin/src/layouts/AdminLayout.astro
  frontend/src/components/Head.astro
Labels: frontend

refactor: update image assets and improve .gitignore for better asset management
  .gitignore
  admin/public/images/logo-y-knot-transparent.png
  admin/public/images/logo-y-knot.png
  admin/src/assets/images/logo-y-knot-1228.jpeg
  admin/src/assets/images/logo-y-knot-2456.jpg
  admin/src/assets/images/logo-y-knot-transparent.png
  admin/src/assets/images/logo-y-knot.png
  frontend/public/_redirects
  frontend/public/ads.txt
  frontend/public/images/blog/placeholder.png
  frontend/public/images/logo-y-knot-transparent.png
  frontend/public/images/logo-y-knot.png
  frontend/public/images/og-image.png
  frontend/public/robots.txt
  frontend/src/assets/images/logo-y-knot-1228.jpeg
  frontend/src/assets/images/logo-y-knot-2456.jpg
  frontend/src/assets/images/logo-y-knot-transparent.png
  frontend/src/assets/images/logo-y-knot.png
  frontend/src/components/Head.astro
  frontend/src/components/Logo.astro
  frontend/src/pages/blog.astro
Labels: frontend

feat(admin): enhance login UI/UX, add password pepper for improved security, and implement logout functionality.
  admin/src/layouts/AdminLayout.astro
  admin/src/pages/dashboard.astro
  admin/src/pages/index.astro
  admin/src/styles/admin.css
  backend/.env.example
  backend/README.md
  backend/src/routes/admin.ts
  backend/src/scripts/hash-password.ts
  backend/src/utils/env.ts
Labels: backend, documentation, styles

feat: Update API base URL resolution to support Render subdomains and clarify development environment.
  admin/src/layouts/AdminLayout.astro
Labels: none

feat: Refine admin API endpoint resolution for custom domains and configure cross-origin cookie sameSite for production.
  admin/src/layouts/AdminLayout.astro
  backend/src/routes/admin.ts
Labels: backend

chore: Log CORS origins at startup for debugging.
  backend/src/index.ts
Labels: backend

fix: Replace dynamic API base URL determination with a fixed production URL to prevent CORS issues.
  admin/src/layouts/AdminLayout.astro
Labels: none

feat: Implement comprehensive cookie consent management with Google Analytics Consent Mode v2 and a dedicated cookie policy page.
  frontend/src/components/CookieConsent.astro
  frontend/src/components/Head.astro
  frontend/src/layouts/Layout.astro
  frontend/src/pages/cookie-policy.astro
  frontend/src/pages/privacy-policy.astro
  frontend/src/pages/terms-of-service.astro
  frontend/src/styles/components/cookie-consent.css
  frontend/src/styles/components/index.css
Labels: frontend, styles

fix: inline Google Analytics script and add missing closing div in layout.
  frontend/src/components/Head.astro
  frontend/src/layouts/Layout.astro
Labels: frontend

feat: Update URLs to use the canonical 'www' version and add robots.txt for API indexing control
  backend/src/index.ts
  backend/src/templates/waitlist-welcome.ts
  frontend/astro.config.mjs
  frontend/public/_redirects
  frontend/public/robots.txt
  frontend/src/components/Head.astro
  frontend/src/pages/blog.astro
  frontend/src/pages/design-system.astro
  frontend/src/pages/privacy-policy.astro
  frontend/src/pages/sitemap.xml.ts
  frontend/src/pages/terms-of-service.astro
Labels: backend, frontend

feat: Enhance admin logout functionality with secure cookie settings and improve waitlist feedback messages
  backend/src/routes/admin.ts
  backend/src/templates/waitlist-welcome.ts
  frontend/src/components/Waitlist.astro
Labels: backend, frontend

feat: replace SPA fallback with a dedicated 404 page.
  frontend/public/_redirects
Labels: frontend
